#### 파이썬 이란
- 1990년 암스테르담의 귀도 반 로섬(Guido Van Rossum)이 개발한 인터프리터 언어
- 컴퓨터 프로그래밍 교육을 위해 많이 사용하지만, 기업의 실무를 위해서도 많이 사용하는 언어. 구글에서 만든 소프트웨어의 50%이상이 파이썬으로 작성

#### 파이썬의 특징
- 파이썬은 인간다운 언어이다
- 파이썬은 문법이 쉬워 빠르게 배울 수 있다
- 파이썬은 무료이지만 강력하다
- 파이썬은 간결하다
- 파이썬은 프로그래밍을 즐기게 해준다
- 파이썬은 개발 속도가 빠르다

#### 파이썬으로 할 수 있는 일
- 웹 개발: Django, Flask 등의 프레임워크를 사용하여 웹 애플리케이션을 개발할 수 있습니다.
- 데이터 분석: Pandas, NumPy, SciPy와 같은 라이브러리를 사용하여 데이터를 분석하고 처리할 수 있습니다.
- 머신 러닝과 인공지능: TensorFlow, PyTorch, Scikit-learn 등의 라이브러리를 활용하여 머신 러닝 모델을 구축하고 훈련시킬 수 있습니다.
- 자동화: 파이썬 스크립트를 작성하여 일상적인 작업을 자동화하고, 시스템 관리 작업을 수행할 수 있습니다.
- 게임 개발: Pygame과 같은 라이브러리를 사용하여 간단한 게임을 개발할 수 있습니다.
- 모바일 애플리케이션 개발: Kivy 또는 BeeWare와 같은 라이브러리를 사용하여 모바일 애플리케이션을 개발할 수 있습니다.
- 데스크탑 애플리케이션 개발: PyQt, Tkinter 등의 라이브러리를 활용하여 데스크탑 애플리케이션을 개발할 수 있습니다.
- 시스템 스크립팅과 네트워킹: 시스템 유틸리티를 개발하거나 네트워크 프로토콜을 구현할 수 있습니다.
- 임베디드 시스템과 하드웨어 제어: 라즈베리 파이와 같은 임베디드 시스템을 제어하고 하드웨어를 프로그래밍할 수 있습니다.
- 사이언티픽 컴퓨팅: 과학적 연산과 시뮬레이션을 위해 파이썬을 활용할 수 있습니다.
- 교육: 파이썬은 초보자에게 프로그래밍을 가르치는 데 이상적인 언어로 평가받고 있습니다.
- 파이썬의 다양한 라이브러리와 프레임워크 덕분에, 이러한 분야에서의 작업이 더욱 쉽고 효율적으로 수행될 수 있습니다.

#### 참조
- 표현식 : 어떠한 값을 만들어 내는 간단한 코드. 273, 10 + 20 + 30, "Python Programming"
- 문장 : 표현식이 하나 이상 모이면 문장. print("Hello")
- 프로그램 : 문장이 모여서 프로그램
- 식별자 : 프로그램밍 언어에서 이름을 붙일 때 사용하는 단어. 주로 변수 또는 함수 이름 등으로 사용
- 주석 : 프로그램을 설명하기 위해 사용. # 기호로 주석 처리
- 연산자 : 스스로 값이 되는 것이 아니고 값과 값 사이에 무언가 기능을 적용할 때 사용
- 자료 : 리터럴이라고 하는데 숫자이든 문자이든 어떠한 값 자체를 의미. 1, 10, "Hello"
- 키워드 : 파이썬이 만들어질 때 이미 사용하겠다고 예약해 놓는 것. False, None, True, ...
- 프로그램밍 언어에서 사용자가 이름을 정할 때 키워드는 사용할 수 없음

In [1]:
my_varable = 15 # 변수
def my_function(): # 함수
    pass
class MyClass: # 클래스
    pass

In [2]:
import keyword
print(keyword.kwlist)
len(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

35

키워드는 python내에서 사용되는 키이기때문에 사용자가 키워드는 변수명, 함수명으로 지정하면 안된다.

In [3]:
!python --version

Python 3.10.13

In [4]:
# 현재 작업폴더 확인
%pwd

'D:\\KDT\\Workspace\\m1_programming'

In [5]:
# 표현식
a = 10
b = 20
print(a+b)
# 문장
c = 'hello'
d = 'world'
print(c)
print(d)
print(c+d)
# 프로그램
def helloworld(a, b, c, d):
    for i in range(a+b):
        print(c+d)
helloworld(a, b, c,d)

30
hello
world
helloworld
helloworld
helloworld
helloworld
helloworld
helloworld
helloworld
helloworld
helloworld
helloworld
helloworld
helloworld
helloworld
helloworld
helloworld
helloworld
helloworld
helloworld
helloworld
helloworld
helloworld
helloworld
helloworld
helloworld
helloworld
helloworld
helloworld
helloworld
helloworld
helloworld
helloworld

In [6]:
# 문장은 하나 이상의 표현식이 모인 것으로 프로그래밍에서는 실행 가능한 푀소의 독립적인 코드 조각
# 파이썬 코드의 한 줄, 또는 블록으로 된 것들을 하나의 문장이라고 할 수 있음.
word = 'python' # 하나의 문장
a = 100 + 200

if a > 500: # 블록을 이루는 하나의 문장
    print(word)

식별자 기본규칙
- 키워드를 사용하면 안된다.
- 특수문자는 언더 바(_)만 사용
- 숫자로 시작하면 안된다.
- 공백을 포함할 수 없다.

In [7]:
alpha
break # 키워드
alpha10
_alpha
273alpha # 숫자
AlpHa
ALPHA
has space# 공백

SyntaxError: invalid decimal literal (3824451701.py, line 5)

파이썬은 snake_case와 CamelCase를 모두 사용

- itemlist : item_list itemList
- loginstatus : login_status loginStatus
- 캐멀 케이스(대문자로 시작) 클래스
- 스네이크 케이스(소문자로 시작) 뒤에 ()가 있다 - 함수
- 스네이크 케이스(소문자로 시작) 뒤에 ()가 없다 - 변수

In [10]:
3 + 4

7

In [11]:
a = 3
b = 4
print(a+b)

7

In [12]:
a = 3
b = 4
c = b % a
d = b // a
e = b / a
print(c)
print(d)
print(e)

1
1
1.3333333333333333

In [13]:
a = 3
b = 5

if a>b:
    print(a)

#### 자료형
- 자료형 또는 데이터 타입이란 숫자, 문자 등과 같이 여러 종류의 데이터를 구분하기 위한 분류
- 파이썬의 자료형은 크게 숫자(numbers), 시퀀스(sequence), 매핑(mapping) 등으로 나눌 수 있다.
- 파이썬의 기본 자료형
  - 수치형
    - 정수형 : int는 정수(integer)를 나타낸다. 양의 정수와 음의 정수, 숫자 0
    - 실수형 : float는 원래 부동소수점수(floating-point number)를 가리키는데, 지금은 단순히 소수점 이하를 표현할 수 있는 수이다.
    - 복소수형 : 복소수를 complex로 나타내고 제곱하면 -1이 되는 수 i를 ‘허수(imaginary number)’라고 하는데 허수 i를 j로 표현
  - 시퀀스 : 문자열(str), 리스트(list), 튜플(tuple), 사용자 정의 클래스가 시퀀스에 속한다. for 문에서 사용할 수 있는 것들이 바로 시퀀스
    - 문자열 : 문자를 한 줄로 표현하며 문자열 인덱스를 이용해 문자열의 일부를 복사
    - 리스트 : 대괄호([ ])로 감싸 주고 각 요솟값은 쉼표(,)로 구분
    - 튜플 : 튜플은 ( )으로 둘러싸고 각 요솟값은 쉼표(,)로 구분
  - 매핑
    - 사전 : 딕셔너리(dict)는 키(key)와 값(value)의 짝으로 이뤄지는데 이런 것을 매핑
  - 집합 : 집합을 표현하는 세트(set)
  - 블린 : 참, 거짓을 표현

In [14]:
# 자료형의 출력

In [15]:
# 시퀸스
[1,2,3]
(1,2,3)
{'a':1, 'b':2}

{'a': 1, 'b': 2}

In [16]:
# 정수형, 실수형
i1 = 3
f1 = 3.5
print(type(i1))
print(type(f1))
print(int(True))
print(int(False))

<class 'int'>
<class 'float'>
1
0

In [17]:
# 사칙연산 : +, -, *, /, //(나눈값), **(제곱), %(나머지)
a = 4
b = 2
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b) 
print(a % b)
print(a**b)

6
2
8
2.0
2
0
16

In [18]:
# 문자열
string = '문자열'
a = '100'
c = 100
d = 50
print(string)
print(a)
print(a+string)
print(str(c)+str(d))

문자열
100
100문자열
10050

In [19]:
# 사용자 입력
input('인사말을 입력하세요')

인사말을 입력하세요

''

In [20]:
# input함수는 string으로 입력받은 데이터를 처리한다.
a = int(input())
b = int(input())
print(a+b)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
a = float(input('3입력'))
b = float(input('3.3입력'))
print(a+b)

In [ ]:
a = 52
b = 52.273
print(str(a)+str(b))

In [ ]:
# 문자열 : "", '', '''''', """"""
p1 = "python 's value is great"
print(p1)

In [ ]:
p1 = 'python \'s value is great'
print(p1)

In [ ]:
# 행바꿈
y1 = "Once you study data analysis\nYou need Python"
print(y1)

In [21]:
y2 ="""
Once you study data analysis 
You need Python 
"""
print(y2)

Once you study data analysis
You need Python

In [22]:
a1 = 'Python '
a2 = 'is easy to learn'
print(a1+a2)
print("="*25)

Python is easy to learn
=========================

In [23]:
# 다른타입과 계산

In [24]:
# 과제1. 다른 타입의 숫자 2개를 입력받아 큰 수를 출력하세요.
a = int(input('정수를 입력'))
b = float(input('실수를 입력'))
if a > b:
    print(a)
else:
    print(b)

정수를 입력

ValueError: invalid literal for int() with base 10: ''

In [25]:
# 과제2. 아래와 같이 출력할 수 있는 string을 만드세요.
string = '''
"What a wonderful world!"
he said loudly
'''
print(string)
'''
[출력문]
"What a wonderful world!"
he said loudly
'''

"What a wonderful world!"
he said loudly

'\n[출력문]\n"What a wonderful world!"\nhe said loudly\n'

In [26]:
# 자료형 - List
# 리스트는 []로 표시하며 []안의 요소를 콤마로 굽누하여 순서있게 나열
list1 = [1,2,3,4,5]
list2 = ['a', 'b','c']
list3 = [1, 'a', 'abc', [1,2,3,4,5], ['a','b','c']]
print(list1)
print(list2)
print(list3)

[1, 2, 3, 4, 5]
['a', 'b', 'c']
[1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c']]

In [27]:
# 인덱싱
list1 = [1,2,3,4,5]
list1[2]
list1[0:2]
list1[0:-1]
list1[0: 4]
list1[:4]
list1[:-1]

[1, 2, 3, 4]

In [28]:
list3 = [1, 'a', 'abc', [1,2,3,4,5], ['a','b','c']]
list3[1]
list3[3]
list3[3][2]
list3[4][1]

'b'

In [29]:
# 리스트 수정, 삭제
a = [0,1,2,3,4,5,6,7,8,9]
b = ['a', 'b', 'c']
a[0] = 1
print(a)
b[1] = 'a'
print(b)
del a[0]
print(a)
del b[1]
print(b)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'a', 'c']
[1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'c']

In [30]:
a = [0,1,2,3,4,5,6,7,8,9]
b = ['a', 'b', 'c']
a[-2]
a[-4:-1]
a[-4:]

[6, 7, 8, 9]

In [31]:
# 리스트 확장
h = [1,2,3]
h.extend([4,5])
print(h)
h.append(6)
print(h)
h.insert(0,5)
print(h)
h.insert(7,7)
print(h)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6, 7]

[과제3] list1에서 다음을 수행하세요
- 33을 출력
- 82를 리스트에 추가
- 87의 인덱스 구하기
- 인덱스 3에서 10까지의 값을 출력하고 list2에 저장한 후 내림차순 정렬하기 - 도전
- 39를 11로 변경
- [69,45,58] 출력
- 짝수 인덱스의 값으로 구성된 리스트 출력하기
- 인덱스가 가장 큰수를 삭제하기
- 인덱스 3, 5인 값으로 4칙 연산하기

list1 = [58, 45, 69, 19,  4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

In [32]:
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
# 리스트 초기화를 통해 혼란을 없앴습니다.


# 1번 풀이
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
print(f'1번 답: {list1[-7][1]}')

# 2번 풀이
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
list1.append(82)
print(f'2번 답: {list1}')

# 3번 풀이
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
for i in range(len(list1)-1):
    if list1[i] == 87:
        print(f'3번 답: {i}')

# 4번 풀이
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
print(f'4번. 3에서 10까지의 값을 출력 :{list1[3:11]}')
list2 = []
list2.extend(list1[3:11])
list2.sort(reverse=True)
print(f'4번 풀이 후: {list2}')


# 5번 풀이
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
print(f'5번 풀이 전: {list1}')
list1[8] = 11
print(f'5번 풀이 후: {list1}')

# 6번 풀이
print(f'6번째 답: {[list1[2], list1[1], list1[0]]}')

# 7번 풀이
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
answer = []
for i in range(len(list1)-1):
    if type(list1[i]) == int:
        if list1[i] % 2 == 0:
            answer.append(list1[i])
    else:
        for j in list1[i]:
            if j % 2 == 0:
                answer.append(j)
print(f'7번째 답: {answer}')

# 8번 풀이
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
print(f'8번 인덱스가 가장 큰수 : {list1[len(list1)-1]}')
del list1[len(list1)-1]
print(f'8번 답: {list1}')

# 9번 풀이
a = list1[3]
b = list1[5]
print(f'9번 인덱스 3인 값: {a}')
print(f'9번 인덱스 5인 값: {b}')
print(f'9번 더하기: {a+b}')
print(f'9번 빼기 : {a-b}')
print(f'9번 곱하기 : {a*b}')
print(f'9번 나누기 : {a/b}')
print(f'9번 나눈값: {a//b}')
print(f'9번 나눈 나머지: {a%b}')
print(f'9번 제곱값: {a**b}')

1번 답: 33
2번 답: [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82, 82]
3번 답: 5
4번. 3에서 10까지의 값을 출력 :[19, 4, 87, 29, 13, 39, 15, 54]
4번 풀이 후: [87, 54, 39, 29, 19, 15, 13, 4]
5번 풀이 전: [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
5번 풀이 후: [58, 45, 69, 19, 4, 87, 29, 13, 11, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
6번째 답: [69, 45, 58]
7번째 답: [58, 4, 54, 8, 98, 22]
8번 인덱스가 가장 큰수 : 82
8번 답: [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22]
9번 인덱스 3인 값: 19
9번 인덱스 5인 값: 87
9번 더하기: 106
9번 빼기 : -68
9번 곱하기 : 1653
9번 나누기 : 0.21839080459770116
9번 나눈값: 0
9번 나눈 나머지: 19
9번 제곱값: 1784692024660069843400588950089820848205359612815447007430736376271289420707549395931423768497105136108949665339

#### sort 와 sorted 차이점

1. 메서드 vs 함수:
- sort(): 리스트 객체의 내장 메서드입니다. 즉, 리스트에서만 사용할 수 있습니다.
- sorted(): 내장 함수로, 어떤 반복 가능한(iterable) 객체에도 사용될 수 있습니다. 예를 들면 리스트, 튜플, 딕셔너리, 문자열 등에 사용할 수 있습니다.

2. 반환 값:
- sort(): 리스트를 원 위치에서(in-place) 정렬하고 None을 반환합니다. 따라서 원래의 리스트 자체가 변경됩니다.
- sorted(): 정렬된 새로운 리스트를 반환합니다. 원래의 객체는 변경되지 않습니다.

3. 유용성:
- sort(): 리스트에서만 작동하기 때문에 리스트만 정렬할 수 있습니다.
- sorted(): 다양한 객체를 정렬할 수 있으며 결과는 항상 리스트로 반환됩니다.

In [33]:
# sort()
my_list = [3,1,2]
my_list.sort()
print(my_list)

#sorted()
my_tuple = (3,1,2)
new_list = sorted(my_tuple)
print(my_tuple)
print(new_list)

[1, 2, 3]
(3, 1, 2)
[1, 2, 3]

In [34]:
list3 = [5,6,9,7,8]
new_list = sorted(list3)
print(list3)
print(new_list)

[5, 6, 9, 7, 8]
[5, 6, 7, 8, 9]

In [35]:
list3 = [5,6,9,7,8]
a = list3.sort()
print(a)
print(list3)

None
[5, 6, 7, 8, 9]

In [36]:
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
list2 = list1[3:11]
l_sort = sorted(list2, reverse=True)
l_sort

[87, 54, 39, 29, 19, 15, 13, 4]

In [37]:
list3 = list1[3:11]
list3.sort(reverse=True)
print(list3)

[87, 54, 39, 29, 19, 15, 13, 4]

[과제4] 아래 list를  sort, sorted를 이용해서 올림차순, 내림차순으로 각각 출력하세요.

In [38]:
list1 = [5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47, 3, 5, 7, 9, 11, 13, 15, 17]

In [39]:
print(sorted(list1, reverse=True))
print(sorted(list1, reverse=False))

[47, 44, 41, 38, 35, 32, 29, 26, 23, 20, 17, 17, 15, 14, 13, 11, 11, 9, 8, 7, 5, 5, 3]
[3, 5, 5, 7, 8, 9, 11, 11, 13, 14, 15, 17, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47]

In [40]:
list1.sort(reverse=True)
print(list)
list1.sort(reverse=False)
print(list)

<class 'list'>
<class 'list'>

원래의 값을 바꾸면 안된다 = sorted()
원래의 값을 바꾼다 = sort()

In [41]:
# 자료형 - Tuple
# 튜플의 요소 값은 변경할 수 없음 - 프로그램에서 그 값이 항상 변하지 않아야 되는 경우 사용

In [42]:
tuple1 = (1,2,3,4,5)
tuple2 = ('a', 'b', 'c')
tuple3 = (1, 'a', 'abc', [1,2,3,4,5],['a','b','c'])

tuple1[:]
tuple2[2]
tuple3[3][2]

3

In [43]:
list1 = [1,2,3,4,5]
list1[0] = 0
list1

[0, 2, 3, 4, 5]

In [44]:
# 튜플의 요소값은 변경할수 없다.
tuple1 = (1,2,3,4,5)
tuple1[0] = 0
tuple1

TypeError: 'tuple' object does not support item assignment

In [45]:
t1 = (1,)
print(t1)

(1,)

In [46]:
t1 = (1)
print(t1)
type(t1)

1

int

In [47]:
t2 = 1,2,3
print(t2)

(1, 2, 3)

In [48]:
t2 * 3
t1 + t2

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [49]:
# 자료형 - 사전(키와 값을 하나의 요소로 하는 순서가 없는 집합)
{a:1, b:2}

{None: 1, 87: 2}

In [50]:
d1 = {'a':1, 'b':2, 'c':3}
print(d1['a'])

1

In [51]:
d1.keys()

dict_keys(['a', 'b', 'c'])

In [52]:
d1.values()

dict_values([1, 2, 3])

In [53]:
d1.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [54]:
d1['d'] = 4
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [55]:
d1['b'] = 7
d1

{'a': 1, 'b': 7, 'c': 3, 'd': 4}

In [56]:
# 자료형 - 집합, set(중복을 허용하지 않으며 순서가 없다.)

In [57]:
s1 = set([1,2,5,4,3])
s2 = set('Hello')

print(s1)
print(s2)

{1, 2, 3, 4, 5}
{'H', 'e', 'o', 'l'}

리스트나 튜플로 바꿔준다.

In [58]:
li = list(s1)
print(li)

[1, 2, 3, 4, 5]

In [61]:
li = list(s2)
print(li[3])

l

In [66]:
# s1, s2의 합집합과 교집합을 각각 리스트로 출력하세요
s1 = set([1,2,3,5,4,6])
s2 = set([4,5,6,7,8,9])

print(list(s1|s2)) # 합집합
print(list(s1&s2)) # 교집합

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6]

#### True와 False
- 파이썬에서 참과 거짓을 나타내는 상수. True는 1, False는 0의 값을 가짐
- 조건을 판단해서 그 조건이 참이면 True, 거짓이면 False를 return

In [65]:
# 자료형 - 논리(Bool)
print(bool(0))
print(bool(''))
print(bool([]))
print(bool(1))
print(bool(100))

False
False
False
True
True

In [75]:
x = 1; y = 2
str1 = 'abc'; str2 = 'python'
print(x==y)
print(x != y)
print(str1 == str2)
print(str2 == 'python')
print(str1 < str2)

False
True
False
True
True

In [79]:
# 논리 연산자
bool1 = True; bool2 = False; bool3 = True; bool4 = False
print(bool1 and bool2)
print(bool1 or bool2)
print(not bool3)
print(not bool4)

False
True
False
True

#### 파이썬에서 들여쓰기
- 파이썬에는 실행 코드 부분을 묶어주는 {} 괄호가 없다.
- 대신 들여쓰기(indentation)로 {}를 대신한다.
- 제어문이나 함수이름, 클래스 이름 뒤에 콜론(':')으로 제어문, 함수이름, 클래스 이름의 끝을 표시하며 ':' 다음에 실행 코드를 작성

In [107]:
li = ['a', 'b', 'c']
if 'a' in li:
    print('있네용')
else:
    print('없네용')

있네용

In [108]:
# 사용자 함수
def add(a, b):
    return a + b + 3
add(1, 2)

6

In [110]:
num = [1,2,3]
sum(num)

6

In [115]:
class SumMul:
    def sum(self, n1, n2):
        return n1 + n2
    def mul(self, n1, n2):
        return n1 * n2
    
obj1 = SumMul()
print(obj1.sum(1, 1))
print(obj1.mul(1, 5))

2
5

In [116]:
# split() 함수
text = '나는 오늘 기분이 좋아요'
words = text.split()
words

['나는', '오늘', '기분이', '좋아요']

In [118]:
num = 10
num += 10 # num = num + 10
num

20

[과제5] 복합 대입연산자를 이용해서 4칙연산을 수행하세요

In [127]:
num = 10
num += 5
print(num)
num = 10
num -= 5
print(num)
num = 10
num /= 5
print(num)
num = 10
num *= 5
print(num)
num = 10
num **= 5
print(num)
num = 10
num %= 5
print(num)
num = 10
num //= 5
print(num)

15
5
2.0
50
100000
0
2

In [128]:
# 소문자, 대문자 변환
word = 'ABC'
w1 = word.lower()
w1

'abc'

In [129]:
w2 = w1.upper()
w2

'ABC'

#### [과제6] 다음 과제를 수행하세요.
- 사용자로 부터 텍스트를 입력 받는다.
- 문장을 단어 단위로 분리
- 단어의 빈도수를 저장할 딕셔너리를 생성
- 각 단어의 빈도 수를 계산(for ans / if else 문 )
- 결과 출력

In [135]:
words_list = input() # [나는 밥을 먹었다 나는 학교에 간다]
words_list = words_list.split()
word_frequency = {'나는':0}
for word in words_list:
    if word in word_frequency:
        word_frequency[word] += 1
print(word_frequency)

나는 밥을 먹었다 나는 학교에 간다
{'나는': 2}

In [2]:
# 활용해서 입력하는 단어마다 dictinary에 입력되어 갯수를 샐수 있게끔 만들어 봤습니다.
# 순위

words_list = input()
words_list = words_list.split()
words_set = set(words_list)
words_listed_set = list(words_set)
word_frequency = {word : 0 for word in words_listed_set}
for word in words_list:
    if word in word_frequency:
        word_frequency[word] += 1
print(word_frequency)

등 국어의 핵심은 생각하는 힘이다 요즘 아이들이 독해력이 떨어지는 이유는 생각하는 힘이 약해서이다
{'아이들이': 1, '힘이': 1, '국어의': 1, '떨어지는': 1, '생각하는': 2, '이유는': 1, '약해서이다': 1, '힘이다': 1, '핵심은': 1, '독해력이': 1, '등': 1, '요즘': 1}

- 키보드로 입력하기 어려운 기호 등을 나타낸다.
- \로 시작, \n 줄바꾸기, \t 탭,

In [3]:
# 순위
words_list = input()
words_list = words_list.split()
words_set = set(words_list)
words_listed_set = list(words_set)
word_frequency = {word : 0 for word in words_listed_set}
for word in words_list:
    if word in word_frequency:
        word_frequency[word] += 1

print(word_frequency)

ㅁ
{'ㅁ': 1}

#### 문자열 포멧
- % operator 사용 : % 연산자를 사용하려면 %(VAR_NAME)TYPE 형식으로 적어주며 VAR_NAME 은 바인딩할 변수명을 TYPE 은 변수의 유형을 적어준다.
- str.format : str.format() 은 파이썬 표현식 값을 바인딩할 부분을 중괄호 {} 로 표시하고 .format() 뒤에 바인딩할 값을 기술해 준다.
- f-string : 문자열에 f 나 F 접두사를 붙이고 표현식을 {expr} 형식으로 작성하면 출력 문자열이 파이썬 표현식의 값으로 바뀐다.

In [5]:
print('%(num)d, %(float)f, %(string)s ' % {'num': 3, 'float': 3, 'string': 'hello'})

3, 3.000000, hello

In [8]:
txt1 = '자바' ; txt2='파이썬'
num1= 5; num2= 10
print('나는 %s보다 %s에 더 익숙합니다.' % (txt1, txt2))
print('%s은 %s 보다 %d배 더 쉽습니다.' % (txt1, txt2, num1))
print('%d + %d = %d' % (num1, num1, num2))
print('작년 세계 경제 성장률은 전년에 비해 %d%% 포인트 증가했다' %num1)

나는 자바보다 파이썬에 더 익숙합니다.
자바은 파이썬 보다 5배 더 쉽습니다.
5 + 5 = 10
작년 세계 경제 성장률은 전년에 비해 5% 포인트 증가했다

In [10]:
# str.format
print('We are the {} who say "{}!"'.format('knights', 'Ni'))

We are the knights who say "Ni!"

In [11]:
# f-string
name = '홍길순'
age = 20
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은홍길순입니다. 나이는 20입니다.'

In [18]:
table = {'Tom': 1234, 'Jack': 4518, 'Eddie': 9638}
for name, phone in table.items():
    print(f'{name:6} ==> {phone:10d}')

Tom    ==>       1234
Jack   ==>       4518
Eddie  ==>       9638

In [21]:
# 소수점 4자리까지만 표현
y = 3.42134234
f'{y:0.4f}'

'3.4213'

In [37]:
# 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤
y = 3.42134234
f'{y:10.4f}'

'    3.4213'

In [38]:
# [과제1_1030] num1 = 12345을 아래와 같이 출력하세요.
# 12345
#      12345
# 12.345679
#           12.346
num1 = 12345
print(f"{num1} \n{num1:10d}\n{num1/1000+0.000679:0.6f}\n{num1/1000+0.001:17.3f}")

12345
     12345
12.345679
           12.346

#### 2진수, 8진수, 16진수의 데이터 표현 방법

- 우리가 프로그래밍을 하면서 변수에 어떤 값을 저장할 때 10진수는 일상적 표현을 그대로 대입한다.
- 예를들어 15를 저장하고 싶다면 int a= 15; 와 같이 15라는 숫자를 그대로 대입하면 된다.
- 하지만 2진수, 8진수, 16진수는 표현법이 따로 정해져있다.<br><br>  

- 2진수는 대입하고자 하는 값 앞에 0b를 붙인다. (숫자0과 영문자b)
- 8진수는 대입하고자 하는 값 앞에 0o 을 붙인다. (숫자0 영문자o)
- 16진수는 대입하고자 하는 값 앞에 0x 를 붙인다. (숫자0과 영문자x)

아래의 예시를 보자.
변수 a,b,c,d 는 모두 10진수 122 이라는 값을 저장하는 코드이다.

122는
- 2진수로 1111010
- 8진수로 172
- 16진수로 7A 이다.

In [41]:
a = 0o172 # 8진수 0o로 시작
d = 172
b = 0x7A # 16진수 0x로 시작
c = 0b1111010 # 2진수로 시작
print(a)
print(d)
print(b)
print(c)

122
172
122
122

In [43]:
int_data = 10
bin_data = 0b10
oct_data = 0o10
hex_data = 0x10
print(int_data)
print(bin_data)
print(oct_data)
print(hex_data)

10
2
8
16

In [47]:
# 파이썬 자료형 - 숫자형(정수, 실수, 8진수, 16진수)
a = 123
b = -123
c = 0
d = 1.23
e = 0o177 # 8진수 0o로 시작
f = 0xABC # 16진수로 0x로 시작
g = 0b101010 # 2진수 0b로 시작
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

123
-123
0
1.23
127
2748
42

In [48]:
print(0xf)

15

In [49]:
# 2진수를 10진수로 표현
g1 = 0b100000
g2 = 0b1000
g3 = 0b10
print(g1)
print(g2)
print(g3)

32
8
2

In [52]:
# 16진수를 10진수로 표현
f1 = 0xA
f2 = 0xB
f3 = 0xAB
print(f1)
print(f2)
print(f3)

10
11
171